/* timer navigation pushed right */
#highscores-link {
    margin-right: 927px;
}

#timer {
 
    
}

/* header styling */
.header {
    border-bottom: 10px;
    width: 100%;
    margin-bottom: 100px;
}

#highscore {

}